$nav_back: #356bc4;

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color:grey;
}
nav{
    margin-bottom: 1em;
}
nav ul {
    list-style:none;
    background-color: $nav_back;
    padding: 1em 0 1em 0;
}
nav ul li {
    display:inline;
    background-color: darken($nav_back, 15%);
    padding: 1em;
    margin: 0 .5em 0 0
}
nav a {
    background-color: $nav_back;
    color: white;
    text-decoration: none;
}